

header{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px 10px 0px 00px;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

